<div class="page-fixed-main-content">
    <div class="search-page search-content-1">
        <div class="search-bar bordered">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn blue uppercase bold" type="button">Search</button>
                                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="list">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/pages/js/question_square/search.js" type="text/javascript"></script>
<script src="/static/pages/js/question_square/questions.js" type="text/javascript"></script>