<div class="page-fixed-main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        #if(!$!isEdit)
                            <span class="caption-subject bold uppercase"> 添加权限 </span>
                        #else
                            <span class="caption-subject bold uppercase"> 编辑权限 </span>
                        #end
                        <input id="id" type="hidden" value="$!id"/>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"
                               aria-expanded="false"> 操作
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-pencil"></i> Edit </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-trash-o"></i> Delete </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-ban"></i> Ban </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:;"> Make admin </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="javascript:;" id="permission-add">
                        <div class="form-body">
                            <div class="form-group">
                                <label>权限名称*</label>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-file-text"></i>
                                                    </span>
                                    <input type="text" class="form-control" id="permissionName"
                                           placeholder="用户名" value="$!permission.permissionName"></div>
                            </div>
                            <div class="form-group">
                                <label>权限描述*</label>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-file-text"></i>
                                                    </span>
                                    <input type="text" class="form-control" id="permissionDesc"
                                           placeholder="用户名" value="$!permission.permissionDesc"></div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-9">
                                    <button id="submit" type="submit" class="btn blue">提交</button>
                                    <button type="reset" class="btn default">取消</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/pages/js/auth/permission/add.js" type="text/javascript"></script>