<div class="page-fixed-main-content">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-hide hide"></i>
                <span class="caption-subject font-hide bold uppercase">聊天室</span>
            </div>
            <div class="actions">
            </div>
        </div>
        <input id="uid" type="hidden" value="$!uid">
        <div class="portlet-body" id="chats">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 525px;">
                <div class="scroller" style="height: 525px; overflow: hidden; width: auto;" data-always-visible="1"
                     data-rail-visible1="1" data-initialized="1">
                    <ul class="chats">
                        #foreach($!chat in $!chats)
                            #if($!chat.userId == $!uid)
                            <li class="out">
                                <img class="avatar" alt="" src="/static/metronic/img/avatars/team3.jpg">
                            #else
                            <li class="in">
                                <img class="avatar" alt="" src="/static/metronic/img/avatars/team1.jpg">
                            #end
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> $!chat.userName</a>
                                <span class="datetime">  $!chat.sendTime </span>
                                <span class="body"> $!chat.content</span>
                            </div>
                        </li>
                        #end
                    </ul>
                </div>
                <div class="slimScrollBar"
                     style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 308.305px;"></div>
                <div class="slimScrollRail"
                     style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
            <div class="chat-form">
                <div class="input-cont">
                    <input class="form-control" type="text" placeholder="在这输入信息"></div>
                <div class="btn-cont">
                    <span class="arrow"> </span>
                    <a href="" class="btn blue icn-only">
                        <i class="fa fa-check icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/pages/js/chat/dashboard.js" type="text/javascript"></script>