<!-- BEGIN HEADER -->
<header class="page-header">
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="havbar-header">
                <!-- BEGIN LOGO -->
                <a id="index" class="navbar-brand" href="start.html">
                </a>
                <!-- END LOGO -->
                <!-- BEGIN TOPBAR ACTIONS -->
                <div class="topbar-actions">
                    <div class="btn-group" id="header_notification_bar">
                        <button type="button" class="btn dark dropdown-toggle" data-toggle="dropdown"
                                data-hover="dropdown" data-close-others="true">
                            当前项目：  $!selectProject.projectName
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            #foreach($!p in $!user_projects)
                                <li>
                                    <a href="javascript:;" class="selectProject-header" id="selectheader_$!p.id">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-success md-skip">
                                                            <i class="fa fa-plus"></i>
                                                        </span> $!p.projectName </span>
                                    </a>
                                </li>
                            #end
                        </ul>
                    </div>
                    <!-- BEGIN GROUP NOTIFICATION -->
                    <!-- END GROUP NOTIFICATION -->

                    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                    <form class="search-form" action="extra_search.html" method="GET">

                    </form>
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN USER PROFILE -->
                    <div class="btn-group-img btn-group">
                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                                data-hover="dropdown" data-close-others="true">
                            <img src="/static/metronic/img/avatars/team3.jpg" alt=""></button>
                        <ul class="dropdown-menu-v2" role="menu">
                            <li>
                                <a href="/logout">
                                    <i class="icon-key"></i> 登出 </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END USER PROFILE -->
                </div>
                <!-- END TOPBAR ACTIONS -->
            </div>
        </div>
        <!--/container-->
    </nav>
</header>
<script src="/static/pages/js/header_select_project.js" type="text/javascript"></script>
<!-- END HEADER -->