.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important;
}

.profile-pic img {
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.profile-pic {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.profile-userpic {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 7px;
}