<div class="page-fixed-main-content">
    <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class=" icon-social-twitter font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">消息通知</span>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_actions_pending" data-toggle="tab"> 日志消息通知 </a>
                </li>
                <li>
                    <a href="#tab_actions_completed" data-toggle="tab"> 申请消息通知 </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_actions_pending">
                    <!-- BEGIN: Actions -->
                    <div class="mt-actions">
                        <div class="mt-action">
                            <div class="mt-action-img">
                            </div>
                            <div class="mt-action-body">
                                <div class="mt-action-row">
                                    <div class="mt-action-info ">
                                        <div class="mt-action-icon ">
                                            <i class="icon-magnet"></i>
                                        </div>
                                        <div class="mt-action-details ">
                                            <span class="mt-action-author">测试项目1</span>
                                            <p class="mt-action-desc">[QC] WARN [qtp1586246816-37] org.springframework.web.servlet.DispatcherServlet.noHandlerFound(1147)</p>
                                        </div>
                                    </div>
                                    <div class="mt-action-datetime ">
                                        <span class="mt-action-date"></span>
                                        <span class="mt-action-dot bg-red"></span>
                                        <span class="mt=action-time">2017.5.10 11:20</span>
                                    </div>
                                    <div class="mt-action-buttons ">
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-outline red btn-sm">查看</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-action">
                            <div class="mt-action-img">
                            </div>
                            <div class="mt-action-body">
                                <div class="mt-action-row">
                                    <div class="mt-action-info ">
                                        <div class="mt-action-icon ">
                                            <i class="icon-magnet"></i>
                                        </div>
                                        <div class="mt-action-details ">
                                            <span class="mt-action-author">测试项目2</span>
                                            <p class="mt-action-desc">[QC] WARN [qtp1586246816-37] org.springframework.web.servlet.DispatcherServlet.noHandlerFound(1147)</p>
                                        </div>
                                    </div>
                                    <div class="mt-action-datetime ">
                                        <span class="mt-action-date"></span>
                                        <span class="mt-action-dot bg-red"></span>
                                        <span class="mt=action-time">2017.5.10 10:52</span>
                                    </div>
                                    <div class="mt-action-buttons ">
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-outline red btn-sm">查看</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-action">
                            <div class="mt-action-img">
                            </div>
                            <div class="mt-action-body">
                                <div class="mt-action-row">
                                    <div class="mt-action-info ">
                                        <div class="mt-action-icon ">
                                            <i class="icon-magnet"></i>
                                        </div>
                                        <div class="mt-action-details ">
                                            <span class="mt-action-author">测试项目3</span>
                                            <p class="mt-action-desc">[QC] WARN [qtp1586246816-37] org.springframework.web.servlet.DispatcherServlet.noHandlerFound(1147)</p>
                                        </div>
                                    </div>
                                    <div class="mt-action-datetime ">
                                        <span class="mt-action-date"></span>
                                        <span class="mt-action-dot bg-red"></span>
                                        <span class="mt=action-time">2017.5.10 8:06</span>
                                    </div>
                                    <div class="mt-action-buttons ">
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-outline red btn-sm">查看</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END: Actions -->
                </div>
                <div class="tab-pane" id="tab_actions_completed">
                    <!-- BEGIN:Completed-->
                    <div class="mt-actions">
                        <div class="mt-action">
                            <div class="mt-action-img">
                            </div>
                            <div class="mt-action-body">
                                <div class="mt-action-row">
                                    <div class="mt-action-info ">
                                        <div class="mt-action-icon ">
                                            <i class="icon-action-redo"></i>
                                        </div>
                                        <div class="mt-action-details ">
                                            <span class="mt-action-author">jack</span>
                                            <p class="mt-action-desc">申请加入:测试项目1</p>
                                        </div>
                                    </div>
                                    <div class="mt-action-datetime ">
                                        <span class="mt-action-date"></span>
                                        <span class="mt-action-dot bg-green"></span>
                                        <span class="mt=action-time">2017.5.10 11:04</span>
                                    </div>
                                    <div class="mt-action-buttons ">
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-outline green btn-sm">同意</button>
                                            <button type="button" class="btn btn-outline red btn-sm">拒绝</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-action">
                            <div class="mt-action-img">
                            </div>
                            <div class="mt-action-body">
                                <div class="mt-action-row">
                                    <div class="mt-action-info ">
                                        <div class="mt-action-icon ">
                                            <i class="icon-action-redo"></i>
                                        </div>
                                        <div class="mt-action-details ">
                                            <span class="mt-action-author">mack</span>
                                            <p class="mt-action-desc">申请加入:测试项目1</p>
                                        </div>
                                    </div>
                                    <div class="mt-action-datetime ">
                                        <span class="mt-action-date"></span>
                                        <span class="mt-action-dot bg-green"></span>
                                        <span class="mt=action-time">2017.5.10 9:34</span>
                                    </div>
                                    <div class="mt-action-buttons ">
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-outline green btn-sm">同意</button>
                                            <button type="button" class="btn btn-outline red btn-sm">拒绝</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Completed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>