<div class="page-fixed-main-content">
    <div class="row">
        <div class="col-md-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase"> 项目详情 </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                                Actions
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-pencil"></i> Edit </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-trash-o"></i> Delete </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-ban"></i> Ban </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:;"> Make admin </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form" id="project-save">
                        <input type="hidden" id="id" value="$!pv.id">
                        <div class="form-body">
                            <div class="form-group">
                                <label>项目名称</label>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                    <input type="text" id="projectName" class="form-control" value="$!pv.projectName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>详情</label>
                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                    <textarea class="form-control" id="projectDesc" rows="3"
                                              placeholder="Email Address">$!pv.desc</textarea></div>
                            </div>
                            <div class="form-group">
                                <label>所在服务器IP</label>
                                <div class="input-icon">
                                    <i class="fa fa-bell-o font-green"></i>
                                    <input type="text" class="form-control" id="serverIp" value="$!pv.serverIp"></div>
                            </div>
                            <div class="form-group">
                                <label>路 径</label>
                                <div class="input-icon right">
                                    <i class="fa fa-microphone fa-spin font-blue"></i>
                                    <input type="text" class="form-control" id="path" placeholder="Right icon"
                                           value="$!pv.path"></div>
                            </div>
                            <input type="hidden" id="userId" value="$!pv.userId">
                            #if($!isEdit)
                                <div class="form-group">
                                    <label for="exampleInputPassword1">创建人</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                               value="$!pv.userName" readonly>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user font-red"></i>
                                                    </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>状态</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-microphone"></i>
                                        <input type="text" class="form-control input-circle" placeholder="Right icon"
                                            #if($!pv.status == 1)
                                               value="运行中"
                                            #elseif($!pv.status == 2)
                                               value="部署中"
                                            #else
                                               value="已停止"
                                            #end
                                               readonly></div>
                                </div>
                            #end
                        </div>
                        <div class="form-actions">
                            <div class="btn-group">
                                <button class="btn blue dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">保存<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" type="submit" id="submit">保存</a></li>
                                    <li><a href="#basic" id="sub_deploy">保存并部署</a></li>
                                </ul>

                            </div>
##                            #if($!pv.status == 1)
##                                <button id="stop" class="btn red">停止</button>
##                            #else
##                                <button type="submit" id="restart" class="btn green">重新启动</button>
##                            #end
                                <a href="#proLog" id="showProLog" class="btn yellow">查看日志</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="basic" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true"></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        项目正在运行，是否覆盖
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                        <button type="button" id="over" class="btn green">确定覆盖</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="log" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true"></button>
                        <h4 class="modal-title" id="llg_title">启动日志</h4>
                    </div>
                    <div class="modal-body" id="log_content">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="log_close" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                    </div>
                </div>

            </div>

        </div>

        <div class="modal fade" id="proLog" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true"></button>
                        <h4 class="modal-title" id="llg_title">实时日志</h4>
                    </div>
                    <div class="modal-body" id="project_log">
                        java.lang.NullPointerException
                        at mobi.mixiong.wx.ds.subscribe_user.SubscribeUserDs.saveSubscribeUser(SubscribeUserDs.java:104)
                        at mobi.mixiong.wx.callback_msg_processor.SubscribeMsgProcessor.process(SubscribeMsgProcessor.java:73)
                        at mobi.mixiong.wx.api.WxCallbackApi.processMsg(WxCallbackApi.java:126)
                        at mobi.mixiong.wx.api.WxCallbackApi.callback(WxCallbackApi.java:95)
                        at sun.reflect.GeneratedMethodAccessor96.invoke(Unknown Source)
                        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
                        at java.lang.reflect.Method.invoke(Method.java:498)
                        at org.glassfish.jersey.server.model.internal.ResourceMethodInvocationHandlerFactory$1.invoke(ResourceMethodInvocationHandlerFactory.java:81)
                        at org.glassfish.jersey.server.model.internal.AbstractJavaResourceMethodDispatcher$1.run(AbstractJavaResourceMethodDispatcher.java:144)
                        at org.glassfish.jersey.server.model.internal.AbstractJavaResourceMethodDispatcher.invoke(AbstractJavaResourceMethodDispatcher.java:161)
                        at org.glassfish.jersey.server.model.internal.AbstractJavaResourceMethodDispatcher.dispatch(AbstractJavaResourceMethodDispatcher.java:99)
                        at org.glassfish.jersey.server.model.ResourceMethodInvoker.invoke(ResourceMethodInvoker.java:389)
                        at org.glassfish.jersey.server.model.ResourceMethodInvoker.apply(ResourceMethodInvoker.java:347)
                        at org.glassfish.jersey.server.model.ResourceMethodInvoker.apply(ResourceMethodInvoker.java:102)
                        at org.glassfish.jersey.server.ServerRuntime$2.run(ServerRuntime.java:309)
                        at org.glassfish.jersey.internal.Errors$1.call(Errors.java:271)
                        at org.glassfish.jersey.internal.Errors$1.call(Errors.java:267)
                        at org.glassfish.jersey.internal.Errors.process(Errors.java:315)
                        at org.glassfish.jersey.internal.Errors.process(Errors.java:297)
                        at org.glassfish.jersey.internal.Errors.process(Errors.java:267)
                        at org.glassfish.jersey.process.internal.RequestScope.runInScope(RequestScope.java:317)
                        at org.glassfish.jersey.server.ServerRuntime.process(ServerRuntime.java:292)
                        at org.glassfish.jersey.server.ApplicationHandler.handle(ApplicationHandler.java:1139)
                        at org.glassfish.jersey.grizzly2.httpserver.GrizzlyHttpContainer.service(GrizzlyHttpContainer.java:375)
                        at org.glassfish.grizzly.http.server.HttpHandler$1.run(HttpHandler.java:224)
                        at java.lang.Thread.run(Thread.java:745)
                        2017-05-25 20:44:03 715000192 [grizzly-http-server-6] ERROR mobi.mixiong.wx.application.exception.ExceptionMapperSupport:29  -
                        java.lang.NullPointerException
                        at mobi.mixiong.wx.callback_msg_processor.SelfMenuClickMsgProcessor.getRepMsg(SelfMenuClickMsgProcessor.java:53)
                        at mobi.mixiong.wx.callback_msg_processor.SelfMenuClickMsgProcessor.process(SelfMenuClickMsgProcessor.java:39)
                        at mobi.mixiong.wx.api.WxCallbackApi.processMsg(WxCallbackApi.java:126)
                        at mobi.mixiong.wx.api.WxCallbackApi.callback(WxCallbackApi.java:95)
                        at sun.reflect.GeneratedMethodAccessor96.invoke(Unknown Source)
                        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
                        at java.lang.reflect.Method.invoke(Method.java:498)
                        at org.glassfish.jersey.server.model.internal.ResourceMethodInvocationHandlerFactory$1.invoke(ResourceMethodInvocationHandlerFactory.java:81)
                        at org.glassfish.jersey.server.model.internal.AbstractJavaResourceMethodDispatcher$1.run(AbstractJavaResourceMethodDispatcher.java:144)
                        at org.glassfish.jersey.server.model.internal.AbstractJavaResourceMethodDispatcher.invoke(AbstractJavaResourceMethodDispatcher.java:161)
                        at org.glassfish.jersey.server.model.internal.AbstractJavaResourceMethodDispatcher.dispatch(AbstractJavaResourceMethodDispatcher.java:99)
                        at org.glassfish.jersey.server.model.ResourceMethodInvoker.invoke(ResourceMethodInvoker.java:389)
                        at org.glassfish.jersey.server.model.ResourceMethodInvoker.apply(ResourceMethodInvoker.java:347)
                        at org.glassfish.jersey.server.model.ResourceMethodInvoker.apply(ResourceMethodInvoker.java:102)
                        at org.glassfish.jersey.server.ServerRuntime$2.run(ServerRuntime.java:309)
                        at org.glassfish.jersey.internal.Errors$1.call(Errors.java:271)
                        at org.glassfish.jersey.internal.Errors$1.call(Errors.java:267)
                        at org.glassfish.jersey.internal.Errors.process(Errors.java:315)
                        at org.glassfish.jersey.internal.Errors.process(Errors.java:297)
                        at org.glassfish.jersey.internal.Errors.process(Errors.java:267)
                        at org.glassfish.jersey.process.internal.RequestScope.runInScope(RequestScope.java:317)
                        at org.glassfish.jersey.server.ServerRuntime.process(ServerRuntime.java:292)
                        at org.glassfish.jersey.server.ApplicationHandler.handle(ApplicationHandler.java:1139)
                        at org.glassfish.jersey.grizzly2.httpserver.GrizzlyHttpContainer.service(GrizzlyHttpContainer.java:375)
                        at org.glassfish.grizzly.http.server.HttpHandler$1.run(HttpHandler.java:224)
                        at java.lang.Thread.run(Thread.java:745)
                        2017-05-25 20:44:06 715003543 [grizzly-http-server-6] ERROR mobi.mixiong.wx.ds.activity.UserActivityDs:202  - create qr code error
                        java.lang.NullPointerException
                        at mobi.mixiong.wx.ds.wx_open.WxOpenMediaDs.updateMedia(WxOpenMediaDs.java:30)
                        at mobi.mixiong.wx.ds.wx_open.WxOpenMediaDs.uploadImage(WxOpenMediaDs.java:24)
                        at mobi.mixiong.wx.ds.activity.UserActivityDs.createMedia(UserActivityDs.java:199)
                        at mobi.mixiong.wx.ds.activity.UserActivityDs.sendMaterial(UserActivityDs.java:165)
                        at mobi.mixiong.wx.ds.activity.ActivityHandler.attend(ActivityHandler.java:165)
                        at mobi.mixiong.wx.ds.activity.UserActivityDs.attendActivity(UserActivityDs.java:124)
                        at mobi.mixiong.wx.ds.activity.UserActivityDs.attendActivityByUnityId(UserActivityDs.java:110)
                        at mobi.mixiong.wx.callback_msg_processor.ScanProcessor.process(ScanProcessor.java:45)
                        at mobi.mixiong.wx.api.WxCallbackApi.processMsg(WxCallbackApi.java:126)
                        at mobi.mixiong.wx.api.WxCallbackApi.callback(WxCallbackApi.java:95)
                        at sun.reflect.GeneratedMethodAccessor96.invoke(Unknown Source)
                        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
                        at java.lang.reflect.Method.invoke(Method.java:498)
                        at org.glassfish.jersey.server.model.internal.ResourceMethodInvocationHandlerFactory$1.invoke(ResourceMethodInvocationHandlerFactory.java:81)
                        at org.glassfish.jersey.server.model.internal.AbstractJavaResourceMethodDispatcher$1.run(AbstractJavaResourceMethodDispatcher.java:144)
                        at org.glassfish.jersey.server.model.internal.AbstractJavaResourceMethodDispatcher.invoke(AbstractJavaResourceMethodDispatcher.java:161)
                        at org.glassfish.jersey.server.model.internal.AbstractJavaResourceMethodDispatcher.dispatch(AbstractJavaResourceMethodDispatcher.java:99)
                        at org.glassfish.jersey.server.model.ResourceMethodInvoker.invoke(ResourceMethodInvoker.java:389)
                        at org.glassfish.jersey.server.model.ResourceMethodInvoker.apply(ResourceMethodInvoker.java:347)
                        at org.glassfish.jersey.server.model.ResourceMethodInvoker.apply(ResourceMethodInvoker.java:102)
                        at org.glassfish.jersey.server.ServerRuntime$2.run(ServerRuntime.java:309)
                        at org.glassfish.jersey.internal.Errors$1.call(Errors.java:271)
                        at org.glassfish.jersey.internal.Errors$1.call(Errors.java:267)
                        at org.glassfish.jersey.internal.Errors.process(Errors.java:315)
                        at org.glassfish.jersey.internal.Errors.process(Errors.java:297)
                        at org.glassfish.jersey.internal.Errors.process(Errors.java:267)
                        at org.glassfish.jersey.process.internal.RequestScope.runInScope(RequestScope.java:317)
                        at org.glassfish.jersey.server.ServerRuntime.process(ServerRuntime.java:292)
                        at org.glassfish.jersey.server.ApplicationHandler.handle(ApplicationHandler.java:1139)
                        at org.glassfish.jersey.grizzly2.httpserver.GrizzlyHttpContainer.service(GrizzlyHttpContainer.java:375)
                        at org.glassfish.grizzly.http.server.HttpHandler$1.run(HttpHandler.java:224)
                        at java.lang.Thread.run(Thread.java:745)
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="log_close" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-6 ">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">参与用户</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="">
                        <table class="table table-hover table-light" width="100%" id="user-list">
                            <thead>
                            <tr class="uppercase">
                                <th> 用户名称</th>
                                <th> 部门</th>
                                <th> 职务</th>
                                <th> 邮箱</th>
                                <th> 操作</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/pages/js/ui-modals.js" type="text/javascript"></script>
<script src="/static/pages/js/project/project_detail.js" type="text/javascript"></script>