<div class="page-fixed-main-content">
    <div class="row">
        <div class="col-md-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase"> 项目详情 </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                                Actions
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-pencil"></i> Edit </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-trash-o"></i> Delete </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-ban"></i> Ban </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:;"> Make admin </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form" id="project-save">
                        <input type="hidden" id="id" value="$!pv.id">
                        <div class="form-body">
                            <div class="form-group">
                                <label>项目名称</label>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                    <input type="text" id="projectName" class="form-control" value="$!pv.projectName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>详情</label>
                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                    <textarea class="form-control" id="projectDesc" rows="3"
                                              placeholder="Email Address">$!pv.desc</textarea></div>
                            </div>
                            <div class="form-group">
                                <label>所在服务器IP</label>
                                <div class="input-icon">
                                    <i class="fa fa-bell-o font-green"></i>
                                    <input type="text" class="form-control" id="serverIp" value="$!pv.serverIp"></div>
                            </div>
                            <div class="form-group">
                                <label>路 径</label>
                                <div class="input-icon right">
                                    <i class="fa fa-microphone fa-spin font-blue"></i>
                                    <input type="text" class="form-control" id="path" placeholder="Right icon"
                                           value="$!pv.path"></div>
                            </div>
                            <input type="hidden" id="userId" value="$!pv.userId">
                            #if($!isEdit)
                                <div class="form-group">
                                    <label for="exampleInputPassword1">创建人</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                               value="$!pv.userName" readonly>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user font-red"></i>
                                                    </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>状态</label>
                                    <div class="input-icon right">
                                        <i class="fa fa-microphone"></i>
                                        <input type="text" class="form-control input-circle" placeholder="Right icon"
                                            #if($!pv.status == 1)
                                               value="运行中"
                                            #elseif($!pv.status == 2)
                                               value="部署中"
                                            #else
                                               value="已停止"
                                            #end
                                               readonly></div>
                                </div>
                            #end
                        </div>
                        <div class="form-actions">
                            <div class="btn-group">
                                <button class="btn blue dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">保存<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" type="submit" id="submit">保存</a></li>
                                    <li><a href="javascript:void(0);" id="sub_deploy">保存并部署</a></li>
                                </ul>
                            </div>
                            #if($!pv.status == 1)
                                <button id="stop" class="btn red">停止</button>
                            #else
                                <button type="submit" id="restart" class="btn green">重新启动</button>
                            #end
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">参与用户</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="">
                        <table class="table table-hover table-light" width="100%" id="user-list">
                            <thead>
                            <tr class="uppercase">
                                <th> 用户名称</th>
                                <th> 部门</th>
                                <th> 职务</th>
                                <th> 邮箱</th>
                                <th> 操作</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/pages/js/project/project_detail.js" type="text/javascript"></script>