<div class="page-fixed-main-content">

    <div class="portlet light portlet-fit bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-share font-green"></i>
                <span class="caption-subject font-green bold uppercase">我参与的项目</span>
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-cloud-upload"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-wrench"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-trash"></i>
                </a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="pricing-content-1">
                <div class="row">
                    #foreach($!vo in $!vos)
                        <div class="col-md-3">
                            <div class="price-column-container border-active">
                                <div class="price-table-head bg-green">
                                    <h2 class="no-margin">$!vo.projectName</h2>
                                </div>
                                <div class="arrow-down border-top-green"></div>
                                <div class="price-table-pricing">
                                    <h3>24</h3>
                                    <p>$!vo.desc</p>
                                    #if($!vo.status == 1)
                                        <div class="price-ribbon" style="background-color: #3dcf63">Running</div>
                                    #else
                                        <div class="price-ribbon">stopped</div>
                                    #end
                                </div>
                                <div class="price-table-content">
                                    <div class="row mobile-padding">
                                        <div class="col-xs-3 text-right mobile-padding">
                                            <i class="icon-users"></i>
                                        </div>
                                        <div class="col-xs-9 text-left mobile-padding">$!vo.GroupNum</div>
                                    </div>
                                    <div class="row mobile-padding">
                                        <div class="col-xs-3 text-right mobile-padding">
                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="col-xs-9 text-left mobile-padding">$!vo.userName</div>
                                    </div>
                                    <div class="row mobile-padding">
                                        <div class="col-xs-3 text-right mobile-padding">
                                            <i class="icon-drawer"></i>
                                        </div>
                                        <div class="col-xs-9 text-left mobile-padding">
                                            #if($!vo.type == 1)
                                                web服务
                                            #else
                                                java服务
                                            #end
                                        </div>
                                    </div>
                                    <div class="row mobile-padding">
                                        <div class="col-xs-3 text-right mobile-padding">
                                            <i class="icon-cloud-download"></i>
                                        </div>
                                        <div class="col-xs-9 text-left mobile-padding">$!vo.serviceId</div>
                                    </div>
                                    <div class="row mobile-padding">
                                        <div class="col-xs-3 text-right mobile-padding">
                                            <i class="icon-refresh"></i>
                                        </div>
                                        <div class="col-xs-9 text-left mobile-padding">2017-4-28</div>
                                    </div>
                                </div>
                                <div class="arrow-down arrow-grey"></div>
                                <div class="price-table-footer">
                                    <a href="/project/detail/$!vo.id" class="btn blue price-button sbold uppercase">查看
                                    </a>
                                    #if($vo.status == 1)
                                        <button type="button" class="btn red price-button sbold uppercase">停止
                                        </button>
                                    #else
                                        <button type="button" class="btn green price-button sbold uppercase">启动
                                        </button>
                                    #end
                                </div>
                            </div>
                        </div>
                    #end
                </div>
            </div>
        </div>
    </div>

</div>